@page "/inputtext"
<h1>InputText</h1>

<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-textinput--docs" target="_blank">See on Web Components v3</a>
</p>
<div class="fluent-badge">
    <label>
        Input Label
        <InputText  @bind-Value="@text"/>
       
    </label>
</div>
<h2>STORIES</h2>

<h3>Default</h3>
<div class="fluent-badge">
    <label>
        Input Label
        <InputText @bind-Value="@text" />
    </label>
</div>

<h3>Without Label</h3>
<div class="fluent-badge">
    <InputText style=" max-width: 400px;" @bind-Value="@text" />
</div>

<h3>Disabled</h3>
<div class="fluent-badge">
    <label>
        Disabled Input
        <InputText disabled @bind-Value="@text" />
    </label>
</div>

<h3>Placeholder</h3>
<div class="fluent-badge">
    <label>
        Input with a placeholder
        <InputText @bind-Value="@textPlaceholder" placeholder="Placeholder text" />
    </label>
</div>

<h3>Read Only</h3>
<div class="fluent-badge">
    <label>
        Read-only value
        <InputText readonly @bind-Value="@text"  />
    </label>
</div>
<h3>Invalied</h3>
<div class="fluent-badge">
    <label>
        Blazor (class .invalid)
        <InputText class="invalid" @bind-Value="@textInvalid" />
    </label>
    <label>
        CSS :invalid
        <input required />
    </label>
</div>
<h3>Inline</h3>
<div class="fluent-badge">

    The quick brown
    <InputText style="display:inline-flex" @bind-Value="@textLine1" placeholder="noun" />
    jumped over the
    <InputText style="display:inline-flex" @bind-Value="@textLine2" placeholder="adjective" />
    dog.
</div>

@code {
    string text;
    string textInvalid;
    string textPlaceholder;
    string textLine1;
    string textLine2;


 
}
