@page "/inputRadioGroup"
@{
    string controlName = "InputRadioGroup";
}
<h1>@controlName</h1>

<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-radiogroup--docs" target="_blank">See on Web Components v3</a>
</p>
<div class="fluent-badge">
    <label>
        @controlName
        <InputRadioGroup @bind-Value="@value">
            @foreach (var fruit in Enum.GetValues(typeof(Fruits)))
            {
                <label>
                    @fruit
                    <InputRadio value="@fruit" />

                </label>
            }
        </InputRadioGroup>
    </label>
</div>
<h2>STORIES</h2>

<h3>Default</h3>
<div class="fluent-badge">
    <label>
        @controlName
        <InputRadioGroup @bind-Value="@value">
            @foreach (var fruit in Enum.GetValues(typeof(Fruits)))
            {
                <label>
                    @fruit
                    <InputRadio value="@fruit" />

                </label>
            }
        </InputRadioGroup>
    </label>
</div>

<h3>Without label</h3>
<div class="fluent-badge">
    <InputRadioGroup @bind-Value="@value">
        @foreach (var fruit in Enum.GetValues(typeof(Fruits)))
        {
            <label>
                @fruit
                <InputRadio value="@fruit" />

            </label>
        }
    </InputRadioGroup>
</div>

<h3>Disabled</h3>
<div class="fluent-badge">
    <label>
        Disabled  @controlName
        <InputRadioGroup @bind-Value="@value">
            @foreach (var fruit in Enum.GetValues(typeof(Fruits)))
            {
                <label>
                    @fruit
                    <InputRadio value="@fruit" />

                </label>
            }
        </InputRadioGroup>
    </label>
</div>



<h3>Invalied</h3>
<div class="fluent-badge">
    <label>
        Invalied  @controlName Blazor (class .invalid)
        <InputRadioGroup @bind-Value="@value">
            @foreach (var fruit in Enum.GetValues(typeof(Fruits)))
            {
                <label>
                    @fruit
                    <InputRadio value="@fruit" />

                </label>
            }
        </InputRadioGroup>
    </label>
    <label>
        Invalied  @controlName CSS :invalid
         <input type="radio"  required />
    </label>
</div>

@code {

    enum Fruits { Apple,Pear,Banana,Orange  }
    Fruits? _selectedFruits = null;
    int value;

    int number;


}

